/*html {*/
/*  !* This is done so that 1rem = 10px taking into consideration that default font-size of browser is 16px and then from now on I'll use rem as a length unit. *!*/
/*  font-size: 62.5%;*/
/*}*/

/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

.body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555; /* This is our main text color*/
  font-weight: 400;
}

.sectionHero {
  font-family: "Rubik", sans-serif;
  padding: 4.2rem 0 6.5rem 0;
  background-color: #f8f9fa;
}

.hero {
  /* We'll not use px to define the length and will use rem. */
  /* max-width: 1300px; */
  max-width: 130rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 2rem;
  margin: 0 auto;
  align-items: center;
  gap: 0 9.6rem;
}

.headingPrimary {
  font-size: 4rem;
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
  /* margin-bottom: 3.6rem; */
}
.venue {
  display: flex;
  /* padding: 1rem; */
  margin: 2rem 0;
}
.venue div {
  display: flex;
  align-items: center;
}
.venue svg {
  margin-right: 0.5rem;
  color: #cf711f;
}
.venue span {
  font-size: 1.3rem;
  font-weight: 600;
  /* color: #555; */
  margin-right: 0.5rem;
}

.headingSecondary {
  font-size: 2.4rem;
  font-weight: 600;
  color: #555;
  margin-bottom: 3.6rem;
}
.heroDescription {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 3.6rem;
}

.heroImgBox {
  grid-column: 2/3;
  grid-row: 1 / 3;
}

.hero-img {
  width: 100%;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: inherit;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  /* margin-top: 4.8rem; */
  padding: 0.7rem 1.2rem;
  text-decoration: none;

  transition: background-color 500ms;
  margin-bottom: 3.6rem;
}

.btnFill:link,
.btnFill:visited {
  background-color: #e67e22;
  color: #fff;
}

.btnOutline:link,
.btnOutline:visited {
  color: #555;
  background-color: #fff;
}

.btnFill:hover,
.btnFill:active {
  background-color: #cf711f;
  text-decoration: underline;
}

.btnOutline:hover,
.btnOutline:active {
  background-color: #fdf2e9;
  /* Now we'll not use border as in border the outlines are on the outside. Instead we'll use the outline or box-shadow property */
  box-shadow: inset 0px 0px 0px 3px #fff;
  text-decoration: underline;
  /* outline: #fff solid 3px; */
}

/* We'll create a utility class that can be used for any element by simply adding a class. */
.marginRightBtn {
  margin-right: 2.4rem;
}

.deliveredMeals {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.deliveredImages img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  margin-right: -1.2rem;
  outline: #fdf2e9 solid 3px;
}

.deliveredText {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
}

.delivered-text span {
  color: #cf711f;
}

/* About Startup Junction */

.about {
  margin: 2rem auto;
  font-family: "Red Hat Text", sans-serif;
  text-align: center;
  color: #333;
  width: 100%;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-image: url(https://images.unsplash.com/photo-1519120944692-1a8d8cfc107f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80); */
  background-size: cover;
  background-position: center;
}
.about h1 {
  font-weight: 700;
  font-size: 3rem;
}
.about p {
  max-width: 50rem;
  line-height: 1.5;
  padding: 1em;
}
