.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.iframe {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 10px;
}
