@font-face {
  font-family: "averta";
  src: url("../public/averta.ttf");
}

.test-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */
.test-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */
.test-shine:active:after {
  opacity: 0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: averta;
  /* color: grey; */
  box-sizing: border-box;
  /* background-color: #f8f9fa; */
}

a {
  text-decoration: none;
}

::selection {
  background: #ffc26c;
}

body {
  background-color: #f8f9fa;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  padding: 0px;
  height: 5.5rem;
  z-index: 100;
  background-color: #f8f9fa;
}

.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  padding: 0px;
  /* margin: 0px 100px 0px 80px; */
  height: 100%;
  background-color: #f8f9fa;
}

.navbar-nav {
  padding: 0px;
  margin: 0px auto;
  height: 100%;
  background-color: #f8f9fa;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 25px;
}

.nav-link h3 {
  display: inline;
  font-size: 1.1rem;
  height: 100%;
  margin: 5px auto;
}

.navbar-collapse {
  height: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0px 1.8em;
  height: 100%;
  background-color: #f8f9fa;
}

.nav-item a {
  display: flex;
  background-color: #f8f9fa;
}

@media (min-width: 991px) {
  .nav-item .dropdown-menu {
    display: none;
  }
  .nav-item:hover .dropdown-menu {
    display: grid;
    width: 100%;
    position: absolute;
    top: 5.5rem;
  }
}

.dropdown {
  position: static !important;
}

.dropdown-menu {
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
  border: 0px;
  border-radius: 0px;
  position: relative;
  left: 0px;
  width: 100% !important;
  padding: 30px 0px 30px 5px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: white;
}

.dropdown-subcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
}

ul {
  list-style: none;
  background-color: white;
}

.nav-icon {
  height: 30px;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: white !important;
  /* align-items: center; */
}

.dropdown-item:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  background-color: white !important;
}

.dropdown-item div {
  margin: 0px 15px;
  background-color: white;
}

.dropdown-item div h4 {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
}

.dropdown-item div p {
  font-size: 0.8rem;
  background-color: white;
  color: grey;
}

.right-nav-column {
  position: relative;
  top: -25px;
  background-color: white !important;
}
.right-nav-column-sub li {
  background-color: white;
}
.right-nav-column li a {
  margin: 0px;
  color: grey;
  font-size: 0.9rem;
  background-color: white !important;
}

.right-nav-column li a:hover {
  color: #138bdb;
  background-color: white !important;
}

.offcanvas {
  display: none;
}

.discover:hover {
  // border-bottom: 4px solid rgb(4, 125, 238);
  box-shadow: inset 0px -4px rgb(4, 125, 238);
}

.discover div h4 {
  color: rgb(4, 125, 238);
}

.discover .right-nav-column div li a:hover {
  color: rgb(4, 125, 238);
}

.design:hover {
  box-shadow: inset 0px -4px #28c7a0;
  // border-bottom: 4px solid #28c7a0;
}

.design div h4 {
  color: #28c7a0;
}

.design .right-nav-column div li a:hover {
  color: #28c7a0;
}

.code:hover {
  box-shadow: inset 0px -4px rgb(4, 125, 238);
  // border-bottom: 4px solid #cd57ff;
}
.startups-nav:hover {
  box-shadow: inset 0px -4px #fdb902;
  // border-bottom: 4px solid #cd57ff;
}
.contact-nav:hover {
  box-shadow: inset 0px -4px #00d9ff;
  // border-bottom: 4px solid #cd57ff;
}

.code div h4 {
  color: rgb(4, 125, 238);
}
.connect:hover {
  box-shadow: inset 0px -4px rgb(4, 125, 238);
  // border-bottom: 4px solid #cd57ff;
}

.connect div h4 {
  color: rgb(4, 125, 238);
}

.esummit:hover {
  box-shadow: inset 0px -4px rgb(4, 125, 238);
  // border-bottom: 4px solid #cd57ff;
}
.incubate:hover {
  box-shadow: inset 0px -4px #505058;
  // border-bottom: 4px solid #cd57ff;
}

.incubate div h4 {
  color: #505058;
}

.learn:hover {
  box-shadow: inset 0px -4px #fd9301;
  // border-bottom: 4px solid #fd9301;
}

.learn div h4 {
  color: #fd9301;
}

#sign-up {
  color: white;
  background-color: #fd9301;
}
.btn {
  border: none;
}
.btn {
  border: none;
}
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0;
  cursor: pointer;
}
#notification-button {
  display: none;
}

@media only screen and (max-width: 1411px) and (min-width: 1336px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.6rem;
  }
  .nav-item {
    margin: 0px 1em;
  }
  .navbar-brand {
    margin-left: 1em !important;
  }
}
@media only screen and (max-width: 1335px) and (min-width: 1270px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.6rem;
  }
  .nav-item {
    margin: 0px 1.2em;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 1270px) and (min-width: 1230px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.6rem;
  }
  .nav-item {
    margin: 0px 1em;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1.2em;
  }
}
@media only screen and (max-width: 1230px) and (min-width: 1190px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 1em;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1.2em;
    width: 80px;
  }
}
@media only screen and (max-width: 1190px) and (min-width: 1145px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 0.8em;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1.2em;
    width: 80px;
  }
}
@media only screen and (max-width: 1145px) and (min-width: 1115px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 0.7em;
    width: fit-content;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1.2em;
    width: 80px;
  }
}
@media only screen and (max-width: 1115px) and (min-width: 1070px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 0.6em;
    width: fit-content;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1em;
    width: 70px;
  }
}
@media only screen and (max-width: 1070px) and (min-width: 1045px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 0.5em;
    width: fit-content;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1em;
    width: 65px;
  }
}
@media only screen and (max-width: 1045px) and (min-width: 1015px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 0.4em;
    width: fit-content;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1em;
    width: 65px;
  }
}
@media only screen and (max-width: 1015px) and (min-width: 991px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.5rem;
  }
  .nav-item {
    margin: 0px 0.3em;
    width: fit-content;
    h3 {
      font-size: 0.9rem;
    }
  }
  .navbar-brand {
    margin-left: 1em;
    width: 65px;
  }
}

@media (max-width: 991px) {
  .notification {
    display: none;
  }
  .navbar {
    height: 4rem;
  }
  .navbar-brand {
    margin: 0px 10px;
    padding: 0px;
    width: 90px !important;
  }
  .navbar-nav {
    position: absolute;
    margin: 0px;
    top: 30px;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin-top: 30px;
  }
  .navbar-collapse {
    margin-top: 50px;
    width: 20px;
  }
  .container-fluid {
    position: absolute;
    top: 10px;
  }
  .nav-link {
    padding: 15px;
    margin: 0px 5px;
    border-radius: 10px;
  }
  .nav-link h3 {
    display: inline;
    font-size: 1.2rem;
    padding-left: 20px;
    margin: 0px;
  }
  .nav-link svg {
    position: absolute;
    right: 5px;
  }
  .nav-item {
    width: 100%;
    display: block;
    height: fit-content !important;
  }
  .dropdown-menu {
    position: relative !important;
    left: 0px;
    top: -5px !important;
    width: 100% !important;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin-top: 100px !important; */
    padding: 0px;
    box-shadow: none;
  }
  .dropdown-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
  }
  .dropdown-subcontainer {
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
  }
  .dropdown-item {
    margin: 5px;
    padding: 5px 10px 5x 10px;
    gap: 20px;
  }
  .dropdown-item div h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #138bdb;
    position: relative;
    top: 8px;
  }
  .dropdown-item:hover {
    transform: none;
    transition: none;
  }
  .dropdown-item div p {
    display: none;
  }
  .right-nav-column {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 1em;
  }
  .right-nav-column-sub li a {
    font-size: 0.8rem;
  }
  .navbar-toggler {
    margin: 0px 5px;
    padding-bottom: 10px;
    height: 60%;
    position: absolute;
    top: 0px;
    right: 2px;
    width: 60px;
  }
  .nav-item:hover {
    box-shadow: none;
  }

  button {
    display: inline;
    height: 100%;
    margin: 0px;
  }
  #login {
    margin: 0px;
  }
  .discover:hover {
    border-bottom: 3px solid rgb(4, 125, 238);
  }
  .discover div h4 {
    color: rgb(4, 125, 238);
  }
  .discover .right-nav-column div li a:hover {
    color: rgb(4, 125, 238);
  }
  .design:hover {
    border-bottom: 3px solid #28c7a0;
  }
  .design div h4 {
    color: #28c7a0;
  }
  .design .right-nav-column div li a:hover {
    color: #28c7a0;
  }
  .code:hover {
    border-bottom: 3px solid #cd57ff;
  }
  .code div h4 {
    color: #cd57ff;
  }
  .learn:hover {
    border-bottom: 3px solid #fd9301;
  }
  .learn div h4 {
    color: #fd9301;
  }
  .nav-item:hover {
    border: none;
  }
  .navbar-brand {
    position: absolute;
    top: 0px;
    left: 10px;
    margin-left: 0px;
    width: 200px;
  }
  .search-offcanvas {
    display: block;
    /* height: 100%; */
    height: 40px;
    border-radius: 8px;
    font-family: averta;
    font-size: smaller;
    background-color: rgb(241, 241, 241);
  }
  #search-button {
    display: block;
  }
  #notification-button {
    display: block;
    position: absolute;
    right: 85px !important;
    top: 10px;
  }
  .search-offcanvas {
    display: block;
  }
  .offcanvas {
    display: block;
  }
}

@media (max-width: 525px) {
  #notification-button {
    display: block;
    position: absolute;
    right: 38vw;
    top: 10px;
  }
}

.notification-dropdown-menu {
  width: 500px !important;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: none;
  height: fit-content;
  min-height: 200px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.705);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .notification-dropdown-menu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* HEADER */
.body {
  max-width: 1390px;
  margin: auto;
}
.header {
  /* max-width: 1480px; */
  margin: auto;
  height: 620px;
}
.info {
  display: flex;
  padding-left: 70px;
  padding-right: 0px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.info h1 {
  color: black;
  font-size: 4.1rem;
  font-weight: bold;
}
.info h2 {
  font-size: 2.6rem;
  color: grey;
}
.Typewriter {
  color: #f5a422;
}
.info p {
  font-size: 1.3rem;
  width: 80%;
  color: grey;
}
.get-started {
  height: 76px;
  width: 333px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #505058;
  border-radius: 0.5rem;
  font-weight: bold;
  margin: 10px 0px;
}

.get-started:hover {
  color: white;
  background-color: #777777;
}
.get-started:focus {
  color: white;
}

.lottie-player {
  width: 300px;
  height: 300px;
}
.tag {
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  color: grey;
}
@media (max-width: 991px) {
  .header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  .info {
    padding-left: 0px;
  }
  .info h1 {
    text-align: center;
    font-size: 3rem;
  }
  .info h2 {
    font-size: 2.3rem;
    text-align: center;
  }
  .info p {
    font-size: 1rem;
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .get-started {
    height: 50px;
    width: 140px;
    font-size: 1.2rem;
    color: white;
    margin: 30px auto;
  }

  .lottie-player {
    width: 300px;
    height: 300px;
  }
  .tag {
    font-size: 1rem;
  }
}

@media (max-width: 338px) {
  .info h1 {
    font-size: 2.4rem;
  }
  .info h2 {
    font-size: 2rem;
  }
}

/* WHO ARE WE? */

.who-are-we {
  margin-top: 100px;
}

.who-are-we .info {
  padding-left: 70px;
}
.learn-more {
  height: 8%;
  width: 300px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learn-more:hover {
  background-color: rgb(77, 76, 76);
}
.waw {
  padding-left: 0px;
}
.reach-num {
  color: #23caf1;
  font-weight: bold;
  font-size: 5rem;
  margin: 0px;
}
.reach {
  margin: 70px 0px;
}
.reach-info {
  font-size: 1rem !important;
}
@media (max-width: 991px) {
  .who-are-we {
    display: grid;
    grid-template-columns: 1fr;
  }
  .who-are-we > .info {
    grid-row: 1;
    padding-left: 0px;
  }
  .who-are-we > .image-section {
    grid-row: 2;
  }
  .learn-more {
    height: 12%;
    width: 230px;
    margin: 30px auto;
  }
  .reach {
    width: 80%;
    margin: auto;
  }
  .reach-num {
    font-size: 3rem;
  }
  .reach-info {
    margin-left: 0px !important;
    text-align: left !important;
    font-size: 0.8rem !important;
  }
}

.what-we-do {
  margin-top: 50px;
  justify-content: center;
  padding: 0px;
}
.what-we-do h1 {
  text-align: center;
}
.what-we-do p {
  text-align: center;
  margin: auto;
  width: 60%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 50px auto;
}

.card {
  width: 320px;
  height: 420px;
  margin: auto;
  padding: 0px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 2rem rgb(221, 220, 220);
}
.card-title {
  text-align: center;
  height: fit-content;
  font-size: 1.4rem;
  color: black;
  background-color: white;
  font-weight: bold;
}
.card-text {
  text-align: center;
  // margin: 5px !important;
  width: 95% !important;
  height: fit-content;
  background-color: white;
  font-size: 1rem !important;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 20px;
  background-color: white;
  /* border: 1px solid grey; */
}
.card-body lottie-player {
  height: 150px;
  background-color: white;
}
.card-button {
  height: 40px;
  width: 140px;
  margin: 10px;
}
.collage-container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: black;
  font-weight: bold;
}
.collage-mobile {
  display: none !important;
}

.horizontal {
  grid-column: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 991px) {
  .collage-normal {
    display: none;
  }
  .collage-mobile {
    display: block !important;
  }
  .collage-container h1 {
    font-size: 2rem;
  }
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  width: 270px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
  margin-left: -140px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1265px) {
  .popup .popuptext {
    width: 200px;
    font-size: 0.8rem;
  }
}
@media (max-width: 950px) {
  .popup .popuptext {
    width: 200px;
    font-size: 0.8rem;
    margin-left: -120px;
  }
}
@media (max-width: 770px) {
  .popup .popuptext {
    width: 180px;
    font-size: 0.8rem;
    margin-left: -100px;
  }
}
@media (max-width: 620px) {
  .popup .popuptext {
    width: 100px;
    font-size: 0.4rem;
    margin-left: -60px;
  }
}
@media (min-width: 761px) and (max-width: 1306px) {
  .card {
    // width: 28vw;
    height: 400px;
  }
  .card-text {
    font-size: 0.65rem !important;
  }
  .card-button {
    margin-bottom: 20px;
  }
}
@media (max-width: 1020px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
@media (max-width: 760px) {
  .card {
    width: fit-content;
  }
  .card-text {
    font-size: 0.7rem !important;
  }
  .what-we-do p {
    width: 92%;
  }
}
@media (max-width: 760px) and (min-width: 538px) {
  .card-text {
    font-size: 1rem !important;
  }
  // .card {
  //   width: 350px;
  // }
  .card-container {
    width: 100%;
  }
}

/* FOOTER */

.footer {
  max-width: 1380px;
  margin: auto;
  border-top: 1px solid rgb(182, 182, 182);
  height: 100%;
}
.contact-us {
  p,
  h2 {
    margin: 0px;
    font-weight: bold;
  }
  p {
    color: grey;
  }
}
.footer-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-items {
  margin: auto;
  width: 100%;
  height: 200px;
}
.footer-items ul {
  padding: 0px;
  background-color: #f8f9fa;
}
.footer-items h5 {
  color: black;
  font-weight: bold;
}
.footer-items ul li a {
  text-decoration: none;
  color: grey;
}
.footer-items ul li a:hover {
  color: rgb(78, 78, 78);
  text-decoration: underline;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 360px;
  margin: 40px auto;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.social-icons,
.contact-icons {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
  display: inline;
}
.social-icons {
  color: black;
}
.contact-icons {
  color: grey;
  font-size: 18px;
  margin: 5px;
}
.social-icons:hover {
  transform: scale(1.5);
}
.mail-us {
  text-decoration: none;
  color: grey !important;
}
.newsletter {
  margin: auto;
  width: 100%;
  height: 200px;
}
@media (max-width: 991px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
  }
  .footer-address {
    text-align: center;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .footer-items h5 {
    font-size: 1.5rem;
  }
  .footer-items ul li a {
    font-size: 0.8rem;
  }
  .social {
    grid-template-columns: 1fr 1fr 1fr;
    width: 280px;
    margin: 40px auto;
    row-gap: 30px;
  }
  .important-footer {
    display: none;
  }
}

/* calender component */

.calender-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: fit-content;
  margin: 50px auto;
  /* border: 2px solid black; */
}

.calender-events {
  background-color: white;
  width: 350px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 730px) {
  .calender-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calender {
    width: 100%;
    padding: 0px;
  }
  .calender-events {
    height: 100%;
  }
}
@media (max-width: 374px) {
  .calender-component {
    display: none;
  }
}

/* TEAM */
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 15px auto;
}
.team-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 60px;
  margin: 15px auto;
}
.our-team {
  text-align: center;
  position: relative;
  width: 240px;
  // height: 360px;
  margin: 20px;
}

// .our-team img {
//   width: 800%;
// }
.our-team .team-content .name {
  font-size: 18px;
  font-weight: 800;
  display: block;
  margin-bottom: 7px;
}
.our-team .team-content .post {
  font-size: 12px;
  display: block;
}
.team-content {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
// @media screen and (max-width: 1200px) {
//   .our-team {
//     width: 300px;
//   }
// }
@media screen and (max-width: 1130px) {
  .our-team {
    margin-bottom: 30px !important;
  }
  .team-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 770px) {
  .team-container-1,
  .team-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 330px) {
  .our-team {
    margin-bottom: 30px !important;
    // width: 250px;
  }
}

.past-team {
  box-shadow: none;
  width: 95%;
  margin: 40px auto !important;
  border: 1px solid grey;
}

.testimonials {
  width: 85%;
  margin: auto;
}

.test-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  padding: 80px 100px 80px 100px;
}

.test-item h1,
.test-item p,
.test-item h2 {
  text-align: center;
}
.test-item h1 {
  font-size: 2rem;
}
.test-item h2 {
  font-size: 1.5rem;
}
.test-item > p {
  font-size: 1.1rem;
  margin-top: 20px;
}
.test-item h1,
.test-item h2 {
  color: #f5a422;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .testimonials {
    width: 100%;
  }
  .test-item h1 {
    font-size: 1.2rem;
  }
  .test-item h2 {
    font-size: 1rem;
  }
  .test-item p {
    font-size: 0.7rem;
  }
  .test-item {
    padding: 50px 20px 50px 20px;
  }
}

@media screen and (max-width: 460px) {
  .test-item h1 {
    font-size: 1rem;
  }
  .test-item h2 {
    font-size: 0.8rem;
  }
  .test-item p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .test-item h1 {
    font-size: 0.8rem;
  }
  .test-item h2 {
    font-size: 0.7rem;
  }
  .test-item p {
    font-size: 0.4rem;
  }
}

.cf {
  // text-align: center;
  margin: 20px auto;
  width: 60%;
  .form-item {
    margin: 25px 0px;
    .checkbox-option {
      input,
      span {
        width: fit-content;
        font-size: 1.1rem;
      }
    }
    label {
      padding: 0;
      span {
        font-size: 0.9rem;
      }
      h5 {
        font-size: 1.1rem;
      }
      .radio-item {
        font-size: 1.1rem;
      }
    }
    #contact-message {
      height: 10px;
    }
  }
  input,
  textarea {
    border: 0;
    outline: 0;
    padding: 10px;
    display: block;
    width: 100%;
    margin-top: 5px;
    font-family: "Merriweather", sans-serif;
    resize: none;
  }

  #input-submit {
    color: white;
    background: #fb6930;
    cursor: pointer;
    width: 100%;

    // &:hover {
    //   @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
    // }
  }

  textarea {
    height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
  .contact-form {
    width: 95%;
  }
  .right {
    margin-top: 0px;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.filter-container {
  width: 20%;
  background-color: white;
  padding: 20px;
  margin: 0px 20px;
  h2 {
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 10px;
    font-weight: normal;
  }
  .filter-icon {
    margin: 0px 5px;
  }
  .filter-subcontainer {
    margin: 20px 0px;
    h3 {
      font-size: 1.2rem;
    }
    ul {
      padding: 10px;
      li {
        input {
          margin: 5px;
        }
      }
    }
  }
}

.filter-offcanvas {
  display: none;
  button {
    float: left;
  }
}

.startups {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  width: 80% !important;
  // justify-content: center;
  align-items: center;
  .search-container {
    width: 100%;
    input {
      border-radius: 10px;
      padding: 7px;
      border: 1px solid rgb(200, 200, 200);
      width: 95%;
      margin: auto;
      color: grey;
    }
  }

  .startups-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 30px auto;
    height: fit-content;
    .startup-item {
      margin: 0.7rem;
      height: 260px;
      width: 260px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      div {
        margin: auto;
      }
      background-color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media (max-width: 1215px) {
    .startups-list {
      .startup-item {
        height: 230px;
        width: 230px;
      }
    }
  }
  @media (max-width: 1095px) {
    .startups-list {
      .startup-item {
        height: 200px;
        width: 200px;
      }
    }
  }
  @media (max-width: 1050px) {
    .startups-list {
      .startup-item {
        height: 180px;
        width: 180px;
      }
    }
  }
  @media (max-width: 755px) {
    .startups-list {
      grid-template-columns: 1fr 1fr;
      .startup-item {
        height: 240px;
        width: 240px;
      }
    }
  }
  @media (max-width: 755px) {
    .startups-list {
      grid-template-columns: 1fr 1fr;
      .startup-item {
        height: 240px;
        width: 240px;
      }
    }
  }
  @media (max-width: 585px) {
    .startups-list {
      .startup-item {
        height: 200px;
        width: 200px;
      }
    }
  }
  @media (max-width: 500px) {
    .startups-list {
      .startup-item {
        height: 150px;
        width: 150px;
      }
    }
  }
  @media (max-width: 395px) {
    .startups-list {
      .startup-item {
        height: 120px;
        width: 120px;
      }
    }
  }
  @media (max-width: 350px) {
    .startups-list {
      grid-template-columns: 1fr;
      .startup-item {
        height: 200px;
        width: 200px;
      }
    }
  }
}
.startup-modal-footer {
  padding: 10px;
  display: grid;
  grid-template-columns: 10fr 2fr;
  .startup-website {
    height: 40px;
    width: 100px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .founders-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
    margin: 10px auto;
  }
}
@media (max-width: 991px) {
  .filter-container {
    display: none;
  }
  .filter-offcanvas {
    display: unset;
  }
  .startup-modal-image {
    display: none !important;
  }
  .startup-website {
    margin: 10px auto;
  }
  .startup-modal-footer {
    grid-template-columns: 1fr;
    @media (max-width: 575px) {
      .founders-container {
        grid-template-columns: 1fr 1fr;
        gap: 2px;
      }
    }
  }
}
@media (max-width: 400px) {
  .offcanvas-container {
    width: 240px;
  }
}

// WHO WE ARE?
.download-brochure {
  width: 240px;
  height: 50px !important;
  font-size: 1.2rem;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #fd9301 !important;
  margin: 40px 0px;
}
.download-brochure:hover {
  background-color: #ca4611;
  color: white;
}
.download-brochure:focus {
  background-color: #ca4611;
}
.about-ecell-image {
  padding: 40px;
}
@media (max-width: 991px) {
  .download-brochure {
    margin: 40px auto;
  }
  .about-ecell-image {
    width: 70%;
    margin: 20px auto;
  }
}
.ecell-verticals {
  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: 40%;
    height: 650px;
    .card-text {
      margin: 0px;
    }
  }
  ul {
    text-align: left;
    padding: 0px;
    li {
      display: flex;
      gap: 5px;
      margin: 10px auto;
    }
  }
}
@media (max-width: 1110px) {
  .ecell-verticals {
    flex-direction: column;
    // grid-template-columns: 1fr;
    .card {
      width: 80%;
      height: fit-content;
      li {
        font-size: 1rem;
      }
    }
  }
}
@media (max-width: 550px) {
  .ecell-verticals {
    .card {
      width: 100% !important;
      li {
        font-size: 0.8rem !important;
      }
    }
  }
}
.past-speaker {
  height: 100%;
  div {
    justify-content: flex-start;
    h3 {
      font-size: 23px !important;
    }
    span {
      font-size: 16px !important;
      font-weight: bold;
    }
  }
}
.perks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 20px auto;
  gap: 2px;
  .perk {
    width: 280px;
    height: 280px;
    background-color: f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .perk-image {
      height: 120px;
      width: 120px;
      margin: 40px auto 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    p {
      font-size: 1rem;
      color: rgb(93, 93, 93);
      font-weight: bold;
      margin: 5px auto;
      width: 100%;
      padding: 0px 5px;
    }
  }
  // .perk:hover {
  //   box-shadow: 0 15px 30px 0 rgba(70, 143, 220, 0.24);
  //   transition: box-shadow 0.1s ease, transform 0.1s ease, z-index 0s ease 0s;
  // }
}
.ca-responsibilities {
  background-color: #f8f9fa;
  padding: 0px;
  li {
    display: flex;
    font-size: 1.25rem;
    .resp-icon {
      color: green;
    }
  }
}
.join-cd {
  background-repeat: no-repeat;
  background-position: -300px -300px, 0 0;
  background-color: black;
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
  background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 0s ease;
  -moz-transition: background-position 0s ease;
  -o-transition: background-position 0s ease;
  transition: background-position 0s ease;
}

.join-cd:hover {
  background-position: 0 0, 0 0;
  background-color: #1d5fd7;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.join-cd:focus {
  background-color: black;
}
@media (max-width: 991px) {
  .cd-info {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .join-cd {
    width: 260px;
  }
}

.loadingGif {
  margin: auto;
}
