@font-face {
  font-family: "averta";
  src: url("../public/averta.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  font-family: averta;
  /* color: grey; */
  box-sizing: border-box;
  /* background-color: #f8f9fa; */
}

::selection {
  background: rgb(246, 214, 108);
}

body {
  background-color: #f8f9fa;
}

/* NAVBAR */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  padding: 0px;
  height: 5.5rem;
  z-index: 100;
  background-color: #f8f9fa;
}

.navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 2000px;
  margin: auto;
  padding: 0px;
  /* margin: 0px 100px 0px 80px; */
  height: 100%;
  background-color: #f8f9fa;
}

.navbar-nav {
  margin: 5px auto;
  display: flex;
  padding: 0px;
  margin: 0px;
  /* gap: 40px; */
  height: 100%;
  background-color: #f8f9fa;
}

.navbar-brand {
  margin-left: 5vw;
  margin-right: 4vw;
  margin-top: 5px;
}

.nav-link h3 {
  display: inline;
  font-size: 1.1rem;
  padding-left: 0.4vw;
  height: 100%;
  margin-top: 5px;
}

.navbar-collapse {
  height: 100%;
}

.nav-item {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0px 10px;
  height: 100%;
  background-color: #f8f9fa;
}

.nav-item a {
  display: flex;
  background-color: #f8f9fa;
}

@media (min-width: 991px) {
  .nav-item .dropdown-menu {
    display: none;
  }
  .nav-item:hover .dropdown-menu {
    display: grid;
    width: 100%;
    position: absolute;
    top: 5.5rem;
  }
}

.dropdown {
  position: static !important;
}

.dropdown-menu {
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
  border: 0px;
  border-radius: 0px;
  position: relative;
  left: 0px;
  width: 100% !important;
  padding: 30px 0px 30px 5px;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: white;
}

.dropdown-subcontainer {
  display: flex;
  flex-direction: column;
  background-color: white;
}

ul {
  list-style: none;
  background-color: white;
}

.nav-icon {
  height: 30px;
  margin-right: 10px;
}

.dropdown-item {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 20px;
  margin: 10px;
  background-color: white !important;
  /* align-items: center; */
}

.dropdown-item:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  background-color: white !important;
}

.dropdown-item div {
  margin: 0px 15px;
  background-color: white;
}

.dropdown-item div h4 {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: white;
}

.dropdown-item div p {
  font-size: 0.9rem;
  background-color: white;
  color: grey;
}

.right-nav-column {
  position: relative;
  top: -25px;
  background-color: white !important;
}
.right-nav-column-sub li {
  background-color: white;
}
.right-nav-column li a {
  margin: 0px;
  color: grey;
  font-size: 0.9rem;
  background-color: white !important;
}

.right-nav-column li a:hover {
  color: #138bdb;
  background-color: white !important;
}

.search {
  height: 45%;
  margin-top: 22px;
  margin-left: 30px;
  width: 19vw;
  border-radius: 8px;
  /* box-shadow: 0px 2px 3px grey; */
  font-family: averta;
  font-size: smaller;
  padding-left: 1.5vw;
  background-color: rgb(241, 241, 241);
  color: grey;
}

button {
  color: white;
  background-color: teal;
  margin: 24px 10px 0px 20px;
  font-size: 0.5rem;
  width: 120px;
  height: 45%;
}

#search-button {
  display: none;
}

.search-offcanvas {
  display: none;
}

.offcanvas {
  display: none;
}

#login {
  margin-left: 2vw;
  width: 60px;
  border: none;
}

#login:hover {
  color: chartreuse;
  background-color: #f8f9fa;
}

.discover:hover {
  border-bottom: 4px solid rgb(4, 125, 238);
}

.discover div h4 {
  color: rgb(4, 125, 238);
}

.discover .right-nav-column div li a:hover {
  color: rgb(4, 125, 238);
}

.design:hover {
  border-bottom: 4px solid #28c7a0;
}

.design div h4 {
  color: #28c7a0;
}

.design .right-nav-column div li a:hover {
  color: #28c7a0;
}

.code:hover {
  border-bottom: 4px solid #cd57ff;
}

.code div h4 {
  color: #cd57ff;
}

.learn:hover {
  border-bottom: 4px solid #fd9301;
}

.learn div h4 {
  color: #fd9301;
}

#sign-up {
  color: white;
}

.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#notification-button {
  display: none;
}

@media only screen and (max-width: 2566px) and (min-width: 1830px) {
  #login {
    margin-left: 3vw;
  }
  .navbar-brand {
    margin-left: 10vw;
  }
}
@media only screen and (max-width: 1830px) and (min-width: 1453px) {
  #login {
    margin-left: 1.5vw;
  }
  .navbar-brand {
    margin-left: 8.5vw;
  }
}
@media only screen and (max-width: 1420px) and (min-width: 1340px) {
  #login {
    margin-left: 0.5vw;
    width: 50px;
  }
  .navbar-brand {
    margin-left: 4vw;
  }
}

@media only screen and (max-width: 1339px) and (min-width: 1099px) {
  #login {
    margin-left: 0.5vw !important;
    width: 68px !important;
  }
  .navbar-brand {
    margin-left: 4vw;
  }
  .nav-item {
    margin: 0.3vw;
  }
}
@media only screen and (max-width: 1270px) and (min-width: 1130px) {
  #sign-up {
    width: 90px;
  }
  #login {
    width: 55px;
  }
  .search {
    width: 13vw;
  }
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.7rem;
  }
}
@media only screen and (max-width: 1140px) and (min-width: 991px) {
  .dropdown-item div h4 {
    font-size: 1rem;
  }
  .dropdown-item div p {
    font-size: 0.7rem;
  }
  #login {
    margin-left: 4vw;
    background-color: #23caf1;
    border: #23caf1;
    color: white;
    text-align: center;
    width: 80px;
  }
  .search {
    width: 15vw;
  }

  .navbar-brand {
    margin-left: 3vw;
  }
  .nav-item {
    margin: 5px;
  }
  #sign-up {
    display: none;
  }
}

@media (max-width: 991px) {
  .notification {
    display: none;
  }
  .navbar {
    height: 4rem;
  }
  .navbar-brand {
    margin: 0px;
    padding: 0px;
  }
  .navbar-brand div img {
    width: 100px;
    padding: 0px;
    margin: 0px;
  }
  .navbar-nav {
    position: absolute;
    top: 30px;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    height: 100%;
    padding: 0px;
  }
  .navbar-collapse {
    margin-top: 50px;
    width: 20px;
  }
  .container-fluid {
    position: absolute;
    top: 10px;
  }
  .nav-link {
    padding: 15px;
    margin: 0px 5px;
    border-radius: 10px;
  }
  .nav-link h3 {
    display: inline;
    font-size: 1.2rem;
    padding-left: 20px;
  }
  .nav-link svg {
    position: absolute;
    right: 5px;
  }
  .nav-item {
    width: 100%;
    margin: 0px;
    /* padding: 15px 0px; */
    margin: 12px;
    display: block;
    height: 40px !important;
  }
  .dropdown-menu {
    position: relative !important;
    left: 0px;
    top: -5px !important;
    width: 100% !important;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* margin-top: 100px !important; */
    padding: 0px;
    box-shadow: none;
  }
  .dropdown-container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 0px;
  }
  .dropdown-subcontainer {
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
    align-items: flex-start;
    width: 98%;
  }
  .dropdown-item {
    margin: 5px;
    padding: 5px 10px;
    gap: 20px;
  }
  .dropdown-item div h4 {
    font-size: 1rem;
    font-weight: bold;
    color: #138bdb;
    position: relative;
    top: 8px;
  }
  .dropdown-item div p {
    display: none;
  }
  .right-nav-column {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 1em;
  }
  .right-nav-column-sub li a {
    font-size: 0.8rem;
  }
  .navbar-toggler {
    margin: 0px 5px;
    padding-bottom: 10px;
    height: 60%;
    position: absolute;
    top: 0px;
    right: 2px;
    width: 15%;
  }
  .search {
    display: none;
    margin-top: 5px;
    height: 60%;
    width: 200px;
  }
  #search-button {
    /* display: none; */
    position: absolute;
    right: 20vw;
    top: 5px;
    padding: 0px;
    /* z-index: 99; */
  }
  .buttons {
    display: flex;
    gap: 48vw;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    width: 100vw;
    padding: 40vh 0px 30px 0px;
    /* margin-top:45vh; */
    /* position: absolute;
		bottom: 10px; */
    background-color: #f8f9fa;
  }
  button {
    display: inline;
    height: 100%;
    margin: 0px;
  }
  #login {
    margin: 0px;
  }
  .discover:hover {
    border-bottom: 3px solid rgb(4, 125, 238);
  }
  .discover div h4 {
    color: rgb(4, 125, 238);
  }
  .discover .right-nav-column div li a:hover {
    color: rgb(4, 125, 238);
  }
  .design:hover {
    border-bottom: 3px solid #28c7a0;
  }
  .design div h4 {
    color: #28c7a0;
  }
  .design .right-nav-column div li a:hover {
    color: #28c7a0;
  }
  .code:hover {
    border-bottom: 3px solid #cd57ff;
  }
  .code div h4 {
    color: #cd57ff;
  }
  .learn:hover {
    border-bottom: 3px solid #fd9301;
  }
  .learn div h4 {
    color: #fd9301;
  }
  .nav-item:hover {
    border: none;
  }
  .navbar-brand {
    position: absolute;
    top: 0px;
    left: 10px;
    margin-left: 0px;
    width: 200px;
  }
  .search-offcanvas {
    display: block;
    /* height: 100%; */
    height: 40px;
    border-radius: 8px;
    font-family: averta;
    font-size: smaller;
    background-color: rgb(241, 241, 241);
  }
  #search-button {
    display: block;
  }
  #notification-button {
    display: block;
    position: absolute;
    right: 30vw;
    top: 10px;
  }
  .search-offcanvas {
    display: block;
  }
  .offcanvas {
    display: block;
  }
}

@media (max-width: 525px) {
  #notification-button {
    display: block;
    position: absolute;
    right: 38vw;
    top: 10px;
  }
}

.notification-dropdown-menu {
  width: 500px !important;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: none;
  height: 500px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.705);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .notification-dropdown-menu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

/* HEADER */
.body {
  max-width: 1390px;
  margin: auto;
}
.header {
  /* max-width: 1480px; */
  margin: auto;
  height: 620px;
}
.info {
  display: flex;
  padding-left: 70px;
  padding-right: 0px;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.info h1 {
  color: black;
  font-size: 4.1rem;
  font-weight: bold;
}
.info h2 {
  font-size: 2.6rem;
  color: grey;
}
.info p {
  font-size: 1.3rem;
  width: 80%;
  color: grey;
}
.get-started {
  height: 12%;
  width: 40%;
  font-size: 1.5rem;
  color: white;
  border-radius: 0.5rem;
  font-weight: bold;
}

.lottie-player {
  width: 300px;
  height: 300px;
}
.tag {
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  color: grey;
}
@media (max-width: 991px) {
  .header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
  }
  .info {
    padding-left: 0px;
  }
  .info h1 {
    text-align: center;
    font-size: 3rem;
  }
  .info h2 {
    font-size: 2.3rem;
    text-align: center;
  }
  .info p {
    font-size: 1rem;
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .get-started {
    height: 50px;
    width: 140px;
    font-size: 1.2rem;
    color: white;
    margin: 30px auto;
  }

  .lottie-player {
    width: 300px;
    height: 300px;
  }
  .tag {
    font-size: 1rem;
  }
}

@media (max-width: 338px) {
  .info h1 {
    font-size: 2.4rem;
  }
  .info h2 {
    font-size: 2rem;
  }
}

/* WHO ARE WE? */

.who-are-we {
  margin-top: 100px;
}

.who-are-we .info {
  padding-left: 70px;
}
.learn-more {
  height: 8%;
  width: 300px;
}
.learn-more:hover {
  background-color: rgb(77, 76, 76);
}
.waw {
  padding-left: 0px;
}
.reach-num {
  color: #23caf1;
  font-weight: bold;
  font-size: 5rem;
  margin: 0px;
}
.reach {
  margin: 70px 0px;
}
.reach-info {
  font-size: 1rem !important;
}
@media (max-width: 991px) {
  .who-are-we {
    display: grid;
    grid-template-columns: 1fr;
  }
  .who-are-we > .info {
    grid-row: 1;
    padding-left: 0px;
  }
  .who-are-we > .image-section {
    grid-row: 2;
  }
  .learn-more {
    height: 12%;
    width: 230px;
    margin: 30px auto;
  }
  .reach {
    width: 80%;
    margin: auto;
  }
  .reach-num {
    font-size: 3rem;
  }
  .reach-info {
    margin-left: 0px !important;
    text-align: left !important;
    font-size: 0.8rem !important;
  }
}

.what-we-do {
  margin-top: 50px;
  justify-content: center;
  padding: 0px;
}
.what-we-do h1 {
  text-align: center;
}
.what-we-do p {
  text-align: center;
  margin: auto;
  width: 60%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 50px auto;
}

.card {
  width: 320px;
  height: 360px;
  margin: auto;
  padding: 0px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 2rem rgb(221, 220, 220);
}
.card-title {
  text-align: center;
  height: 10%;
  font-size: 1.4rem;
  color: black;
  background-color: white;
  font-weight: bold;
}
.card-text {
  text-align: center;
  margin: 5px !important;
  width: 95% !important;
  height: 30%;
  background-color: white;
  font-size: 1rem !important;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  border-radius: 20px;
  background-color: white;
  /* border: 1px solid grey; */
}
.card-body lottie-player {
  height: 150px;
  background-color: white;
}
.card-button {
  height: 40px;
  width: 140px;
}
.collage-container h1 {
  text-align: center;
  font-size: 3.5rem;
  color: black;
  font-weight: bold;
}
.collage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  grid-auto-rows: 13%;
  grid-auto-flow: dense;
  gap: 0.8%;
  margin-bottom: -150px;
}
.collage img {
  width: 100%;
  height: 100%;
  background-color: white;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.2s;
}
.collage img:hover {
  transform: scale(1.06);
}
.horizontal {
  grid-column: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 991px) {
  .collage {
    margin-bottom: -50px;
  }
  .collage-container h1 {
    font-size: 2rem;
  }
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  width: 270px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 60%;
  left: 50%;
  margin-left: -140px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1265px) {
  .popup .popuptext {
    width: 200px;
    font-size: 0.8rem;
  }
}
@media (max-width: 950px) {
  .popup .popuptext {
    width: 200px;
    font-size: 0.8rem;
    margin-left: -120px;
  }
}
@media (max-width: 770px) {
  .popup .popuptext {
    width: 180px;
    font-size: 0.8rem;
    margin-left: -100px;
  }
}
@media (max-width: 620px) {
  .popup .popuptext {
    width: 100px;
    font-size: 0.4rem;
    margin-left: -60px;
  }
}
@media (min-width: 761px) and (max-width: 1306px) {
  .card {
    width: 28vw;
    height: 400px;
  }
  .card-text {
    font-size: 0.65rem !important;
  }
  .card-button {
    margin-bottom: 20px;
  }
}
@media (max-width: 760px) {
  .card-container {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .card {
    width: 80vw;
  }
  .card-text {
    font-size: 0.7rem !important;
  }
  .what-we-do p {
    width: 92%;
  }
}
@media (max-width: 760px) and (min-width: 538px) {
  .card-text {
    font-size: 1rem !important;
  }
  .card {
    width: 350px;
  }
  .card-container {
    width: 100%;
  }
}

/* FOOTER */

.footer {
  max-width: 1380px;
  margin: auto;
  border-top: 1px solid rgb(182, 182, 182);
  height: 100%;
}
.contact-us p,
h2 {
  margin: 0px;
  font-weight: bold;
}
.footer-container {
  width: 80%;
  margin: 70px auto;
}
.footer-items ul {
  padding: 0px;
  background-color: #f8f9fa;
}
.footer-items h5 {
  color: black;
  font-weight: bold;
}
.footer-items ul li a {
  text-decoration: none;
  color: grey;
}
.footer-items ul li a:hover {
  color: rgb(78, 78, 78);
  text-decoration: underline;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 360px;
  margin: 80px auto;
}
.social-icons,
.contact-icons {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
}
.social-icons:hover {
  transform: scale(1.5);
}
@media (max-width: 991px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    /* width: 100%; */
  }
  .footer-items h5 {
    font-size: 1rem;
  }
  .footer-items ul li a {
    font-size: 0.8rem;
  }
  .social {
    grid-template-columns: 1fr 1fr 1fr;
    width: 280px;
    margin: 80px auto;
    row-gap: 30px;
  }
}

/* calender component */

.calender-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: fit-content;
  margin: 50px auto;
  /* border: 2px solid black; */
}

.calender-events {
  background-color: white;
  width: 350px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 730px) {
  .calender-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .calender {
    width: 100%;
    padding: 0px;
  }
  .calender-events {
    /* width: 105%; */
    /* padding: 0px; */
    height: 180px;
  }
}
@media (max-width: 374px) {
  .calender-component {
    display: none;
  }
}

/* TEAM */
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 15px auto;
}
.team-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  gap: 30px;
  margin: 15px auto;
}
.our-team {
  text-align: center;
  position: relative;
  color: #fff;
  width: 320px;
  height: 435px;
}
.our-team:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.our-team img {
  width: 100%;
}
.our-team .team-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  background-color: #fb6930;
  transition: all 0.3s ease 0s;
}
.our-team:hover .team-content {
  height: 42%;
}
.our-team .team-content .name {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 7px;
}
.our-team .team-content .post {
  font-size: 17px;
  display: block;
}
.team-content {
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-social {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
@media screen and (max-width: 1200px) {
  .our-team {
    width: 300px;
  }
}
@media screen and (max-width: 1130px) {
  .our-team {
    margin-bottom: 30px !important;
  }
  .team-container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 770px) {
  .team-container-1,
  .team-container {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 330px) {
  .our-team {
    margin-bottom: 30px !important;
    width: 250px;
  }
}

.testimonials {
  width: 85%;
  margin: auto;
}

.test-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  padding: 80px 100px 80px 100px;
}

.test-item h1,
.test-item p,
.test-item h2 {
  text-align: center;
}
.test-item h1 {
  font-size: 2rem;
}
.test-item h2 {
  font-size: 1.5rem;
}
.test-item > p {
  font-size: 1.1rem;
  margin-top: 20px;
}
.test-item h1,
.test-item h2 {
  color: #fa8231;
  font-weight: bold;
}
@media screen and (max-width: 650px) {
  .testimonials {
    width: 100%;
  }
  .test-item h1 {
    font-size: 1.2rem;
  }
  .test-item h2 {
    font-size: 1rem;
  }
  .test-item p {
    font-size: 0.7rem;
  }
  .test-item {
    padding: 50px 20px 50px 20px;
  }
}

@media screen and (max-width: 460px) {
  .test-item h1 {
    font-size: 1rem;
  }
  .test-item h2 {
    font-size: 0.8rem;
  }
  .test-item p {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .test-item h1 {
    font-size: 0.8rem;
  }
  .test-item h2 {
    font-size: 0.7rem;
  }
  .test-item p {
    font-size: 0.4rem;
  }
}

.cf {
  text-align: center;
  margin: 20px auto;
  width: 60%;

  input,
  textarea {
    border: 0;
    outline: 0;
    padding: 1em;
    // @include border-radius(8px);
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    // @include box-shadow(0 1px 1px rgba(black, 0.1));
    resize: none;

    // &:focus {
    //   @include box-shadow(0 0px 2px rgba($red, 1) !important);
    // }
  }

  #input-submit {
    color: white;
    background: #fb6930;
    cursor: pointer;
    width: 100%;

    // &:hover {
    //   @include box-shadow(0 1px 1px 1px rgba(#aaa, 0.6));
    // }
  }

  textarea {
    height: 126px;
  }
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.filter-container {
  width: 280px;
  background-color: white;
  padding: 20px;
  margin: 0px 20px;
  h2 {
    font-size: 1.3rem;
    margin: auto;
    margin-bottom: 10px;
    font-weight: normal;
  }
  .filter-icon {
    margin: 0px 5px;
  }
  .filter-subcontainer {
    margin: 20px 0px;
    h3 {
      font-size: 1.2rem;
    }
    ul {
      padding: 10px;
      li {
        input {
          margin: 5px;
        }
      }
    }
  }
}

.filter-offcanvas {
  display: none;
  button {
    float: left;
  }
}

.startups {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  .search-container {
    width: 100%;
    input {
      border-radius: 10px;
      padding: 7px;
      border: 1px solid rgb(200, 200, 200);
      width: 95%;
      margin: auto;
      color: grey;
    }
  }

  .startups-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-auto-flow: row;
    margin: 30px auto;
    .startup-item {
      margin: 0.7rem;
      height: fit-content;
      width: 260px;
      box-sizing: border-box;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      div{
        margin: auto;
      }
      background-color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  @media (max-width: 1215px) {
    .startups-list {
      .startup-item {
        height: 230px;
        width: 230px;
      }
    }
  }
  @media (max-width: 1095px) {
    .startups-list {
      .startup-item {
        height: 200px;
        width: 200px;
      }
    }
  }
  @media (max-width: 1050px) {
    .startups-list {
      .startup-item {
        height: 180px;
        width: 180px;
      }
    }
  }
  @media (max-width: 755px) {
    .startups-list {
      grid-template-columns: 1fr 1fr;
      .startup-item {
        height: 240px;
        width: 240px;
      }
    }
  }
  @media (max-width: 755px) {
    .startups-list {
      grid-template-columns: 1fr 1fr;
      .startup-item {
        height: 240px;
        width: 240px;
      }
    }
  }
  @media (max-width: 585px) {
    .startups-list {
      .startup-item {
        height: 200px;
        width: 200px;
      }
    }
  }
  @media (max-width: 500px) {
    .startups-list {
      .startup-item {
        height: 150px;
        width: 150px;
      }
    }
  }
  @media (max-width: 395px) {
    .startups-list {
      .startup-item {
        height: 120px;
        width: 120px;
      }
    }
  }
  @media (max-width: 350px) {
    .startups-list {
      grid-template-columns: 1fr;
      .startup-item {
        height: 200px;
        width: 200px;
      }
    }
  }
}
.startup-modal-footer {
  padding: 10px;
  display: grid;
  grid-template-columns: 10fr 2fr;
  .startup-website {
    height: 40px;
    width: 100px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .founders-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
    margin: 10px auto;
  }
}
@media (max-width: 991px) {
  .filter-container {
    display: none;
  }
  .filter-offcanvas {
    display: unset;
  }
  .startup-modal-image {
    display: none !important;
  }
  .startup-website {
    margin: 10px auto;
  }
  .startup-modal-footer {
    grid-template-columns: 1fr;
    @media (max-width: 575px) {
      .founders-container {
        grid-template-columns: 1fr 1fr;
        gap: 2px;
      }
    }
  }
}
@media (max-width: 400px) {
  .offcanvas-container {
    width: 240px;
  }
}
